.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.title-name {
    font-size: 1.5rem;
    display: flex;
    text-align: center;
}
.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-buttons {
    display: flex;
    flex-direction: row;

    padding: 50px;
}

.img-prisioner {
    width: 150px;
    height: 150px;

    border-radius: 50px;
    border: 5px solid rgb(255, 255, 255);
}

.button-image {
    width: 150px;
    height: 150px;
}
.image-prisioner-container {
    background-color: transparent;
}

.container-nav {
    box-sizing: border-box;
    margin-top: 80px;
    padding-top: 8rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 250px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav__icon-home {
    height: 50px;
    margin: 20px;
}

.heart-icon {
    height: 50px;
    margin: 20px;
}
.usuario-img {
    height: 50px;
    margin: 20px;
}
button {
    background: none;
    border: 0;
    color: inherit;

    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;

    -webkit-appearance: button;
}
.dislike-button {
    width: 4.5rem;
}
.like-button-img {
    width: 6rem;
    margin-bottom: 1rem;
}
