@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

/* .login {
    background-image: url(../../public/img/Poli-inicio.jpg);
} */

* {
    font-family: 'Actor', sans-serif;
}
.login__welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.welcome--title {
    display: flex;
    justify-content: center;
    font-family: 'Actor', sans-serif;
    margin: 20px;
    text-align: center;
}

.welcome--parrafo {
    display: flex;
    justify-content: center;
    font-family: 'Actor', sans-serif;
    margin: 0;
    text-align: center;
}

.auth {
    display: flex;
    justify-content: center;
    font-family: 'Actor', sans-serif;
    flex-direction: row;
}
.police-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.police-img {
    height: 200px;
    margin: 40px;
}

.login-button {
    font-family: 'Actor', sans-serif;
    font-size: large;
    margin: 10px;
    background: none;
    border: none;
}

.logout-button {
    font-family: 'Actor', sans-serif;
    font-size: large;
    margin: 10px;
    background: none;
    border: none;
}

.footer {
    margin-top: 40px;
    font-size: small;
    text-align: center;
}
